/*
* @Author: asus
* @Date:   2017-11-28 13:58:15
* @Last Modified by:   asus
* @Last Modified time: 2017-12-14 11:48:18
*/
*{
	margin: 0;
    padding:0;
    font-family: "微软雅黑","宋体",sans-serif;
    font-size: 16px;
    list-style: none;
    font-style: normal;
}
body{
	background: #fff;

}
img {
	border: none;

}
a{
	text-decoration: none;
}